
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: auto; 
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black; 
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
}