
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: auto;
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black; 
}

/* SETTINGS */

.settings {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 50px;
    width: 500px;
    margin: auto;
    
    
}

#size {
    display: flex;
    align-items: flex-start;
}

footer {
    background-color: gainsboro;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#github {
    margin-left: 10px;
}

#github:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px 0 black; 
    border-radius: 50%;
}